/* 
.footer_menu {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_menu .footer_row1 {
  height: auto;
  width: auto;
  padding-bottom: 2rem;
}
.footer_menu .footer_row1 ul {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer_menu .footer_row1 ul li {
  margin-left: 6rem;
}
.footer_menu .footer_row1 ul li a {
  position: relative;
  font-size: max(1.6rem, 8px);
  transition: all 0.3s ease;
  color: #222;
}
.footer_menu .footer_row1 ul li a.links_coffee:hover {
  color: #AF7F61;
}
.footer_menu .footer_row1 ul li a.links_perfume:hover {
  color: #FBDCE2;
}
.footer_menu .footer_row1 ul li a.links_shower_gel:hover {
  color: #f76b84;
}
.footer_menu .footer_row1 ul li a.links_handwash:hover {
  color: #FEDA57;
}
.footer_menu .footer_row1 ul li a.links_antibacterial:hover {
  color: #B7E2FA;
}
.footer_menu .footer_row1 ul li a.links_food:hover {
  color: #FF6262;
}
.footer_menu .footer_row1 ul li a.links_accueil:hover {
  color: #FF9B71;
}
.footer_menu .footer_row1 ul li a.links_airfreshener:hover {
  color: #BC89FD;
}
.footer_menu .footer_row1 ul li a.links_bodymist:hover {
  color: #59C9A5;
}
.footer_menu .footer_row1 ul li a::before {
  position: absolute;
  content: "+";
  left: 0;
  top: 50%;
  transform: translate(-2rem, -50%);
}
.footer_menu .footer_row1 ul li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer_menu .footer_row2 {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_menu .footer_row2 .social_links_content {
  height: auto;
  width: auto;
  display: inline-flex;
  align-items: center;
}
.footer_menu .footer_row2 .social_links_content a {
  display: flex;
  width: auto;
  color: #222;
  transition: all 0.4s ease;
}
.footer_menu .footer_row2 .social_links_content a i {
  font-size: 3rem;
  width: 3rem;
}
.footer_menu .footer_row2 .social_links_content a:not(:last-child) {
  margin-right: 2.5rem;
}
.footer_menu .footer_row2 .social_links_content a.links_coffee:hover {
  color: #AF7F61;
}
.footer_menu .footer_row2 .social_links_content a.links_perfume:hover {
  color: #FBDCE2;
}
.footer_menu .footer_row2 .social_links_content a.links_shower_gel:hover {
  color: #f76b84;
}
.footer_menu .footer_row2 .social_links_content a.links_handwash:hover {
  color: #FEDA57;
}
.footer_menu .footer_row2 .social_links_content a.links_antibacterial:hover {
  color: #B7E2FA;
}
.footer_menu .footer_row2 .social_links_content a.links_food:hover {
  color: #FF6262;
}
.footer_menu .footer_row2 .social_links_content a.links_accueil:hover {
  color: #FF9B71;
}
.footer_menu .footer_row2 .social_links_content a.links_airfreshener:hover {
  color: #BC89FD;
}
.footer_menu .footer_row2 .social_links_content a.links_bodymist:hover {
  color: #59C9A5;
}

.footer_details {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.footer_details.coffee_footer {
  background-color: #AF7F61;
}
.footer_details.perfume_footer {
  background-color: #FBDCE2;
}
.footer_details.shower_gel_footer {
  background-color: #f76b84;
}
.footer_details.handwash_footer {
  background-color: #FEDA57;
}
.footer_details.antibacterial_footer {
  background-color: #B7E2FA;
}
.footer_details.food_footer {
  background-color: #FF6262;
}
.footer_details.accueil_footer {
  background-color: #FF9B71;
}
.footer_details.airfreshener_footer {
  background-color: #BC89FD;
}
.footer_details.bodymist_footer {
  background-color: #59C9A5;
}
.footer_details .footer_details_content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.footer_details .footer_details_content span, .footer_details .footer_details_content a {
  color: #222;
  font-size: max(1.1rem, 7px);
}
.footer_details .footer_details_content a {
  font-family: muli_bold;
} */