
     a.product_active.product_coffee {
    color: #AF7F61;
  }
     a.product_active.product_perfume {
    color: #FBDCE2;
  }
     a.product_active.product_shower_gel {
    color: #f76b84;
  }
     a.product_active.product_handwash {
    color: #FEDA57;
  }
     a.product_active.product_antibacterial {
    color: #B7E2FA;
  }
     a.product_active.product_food {
    color: #FF6262;
  }
     a.product_active.product_accueil {
    color: #FF9B71;
  }
     a.product_active.product_airfreshener {
    color: #BC89FD;
  }
     a.product_active.product_bodymist {
    color: #59C9A5;
  }
