
.lvm_items_products {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.produits_handwash {
  height: auto;
  width: 100%;
  z-index: 2;
  background-color: #FAF7EE;
  margin-bottom: 25vh;
}

.lvm_products_content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lvm_products_content.handwash_reverse {
  flex-direction: row-reverse;
}

 .lvm_layoutl_content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .lvm_layoutl_content .lvm_image_container {
  position: relative;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .lvm_layoutl_content .lvm_image_container::before {
  position: absolute;
  content: "";
  top: 0;
  font-size: 5rem;
  color: #000000;
  font-family: albraSans;
  text-transform: uppercase;
}
 .lvm_layoutl_content .lvm_image_container.mango_content::before {
  color: #F8C23A;
  content: "Mango";
  left: 60%;
  transform: translate(25%, 0);
}
 .lvm_layoutl_content .lvm_image_container.cranberry_content::before {
  color: #E91D2D;
  content: "Cranberry";
  left: -80%;
}
 .lvm_layoutl_content .lvm_image_container.plum_color::before {
  color: #BD4B93;
  content: "Plum";
  left: 60%;
  transform: translate(30%, 0);
}
 .lvm_layoutl_content .lvm_image_container.blueberry_color::before {
  color: #54C6E1;
  content: "Blueberry";
  left: -80%;
}
 .lvm_layoutl_content .lvm_image_container img {
  position: relative;
  height: 80%;
  width: auto;
}
 .lvm_layoutl_content .lvm_image_container .hndwsh {
  z-index: 3;
}
 .lvm_layoutl_content .lvm_image_container .handwash_circle {
  position: absolute;
  bottom: 50%;
  left: 50%;
  height: 100%;
  min-height: 340px;
  width: auto;
  transform: translate(-50%, 55%);
}

 .lvm_layoutr_content {
  height: 70%;
  width: 100%;
  display: inline-flex;
  align-items: center;
}
 .lvm_layoutr_content .lvm_descriptions {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
 .lvm_layoutr_content .lvm_descriptions.description_reverse {
  justify-content: flex-end;
}
 .lvm_layoutr_content .lvm_descriptions .lvm_description_content {
  position: relative;
  height: 50%;
  width: 70%;
  padding-top: 10rem;
}
 .lvm_layoutr_content .lvm_descriptions .lvm_description_content .lvm_numbers_links {
  height: auto;
  width: auto;
  position: absolute;
  top: 60%;
  right: -6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 .lvm_layoutr_content .lvm_descriptions .lvm_description_content .lvm_numbers_links.numbers_reverse {
  right: 105%;
}
 .lvm_layoutr_content .lvm_descriptions .lvm_description_content .lvm_numbers_links a {
  font-family: baliva;
  font-size: 3rem;
  padding-bottom: 1rem;
}
 .lvm_layoutr_content .lvm_descriptions .lvm_description_content .lvm_numbers_links span {
  height: 50px;
  width: 2px;
  background: #000;
}
 .lvm_layoutr_content .lvm_descriptions .lvm_description_content .lvm_numbers_links span.mango_bg {
  background-color: #F8C23A;
}
 .lvm_layoutr_content .lvm_descriptions .lvm_description_content .lvm_numbers_links span.cranberry_bg {
  background-color: #E91D2D;
}
 .lvm_layoutr_content .lvm_descriptions .lvm_description_content .lvm_numbers_links span.plum_bg {
  background-color: #BD4B93;
}
 .lvm_layoutr_content .lvm_descriptions .lvm_description_content .lvm_numbers_links span.blueberry_bg {
  background-color: #54C6E1;
}

.mango_color {
  color: #F8C23A;
}

.cranberry_color {
  color: #E91D2D;
}

.plum_color {
  color: #BD4B93;
}

.blueberry_color {
  color: #54C6E1;
}


 /* Laves Mains */
 .lvm_products_content,
 .lvm_products_content.handwash_reverse {
     flex-direction: column;
   }
 
    .lvm_layoutr_content .lvm_descriptions,
  .lvm_layoutr_content .lvm_descriptions.description_reverse {
     display: flex;
     align-items: center;
     justify-content: center;
     height: auto;
   }
 
    .lvm_layoutr_content {
     height: 100%;
     align-items: flex-start;
   }
 
    .lvm_layoutr_content .lvm_descriptions .lvm_description_content {
     padding-top: 0;
   }
 
    .lvm_layoutr_content .lvm_descriptions .lvm_description_content .lvm_numbers_links {
     top: 30%;
   }
 

   
.products_layout {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
}
.products_layout.layout_reverse {
  flex-direction: row-reverse;
}

.layout_description_content {
  height: auto;
  width: auto;
  padding: 0 2rem 10vh 0;
}
.layout_description_content.aifn_layout_content {
  padding: 0 2rem 10vh 2rem;
}

.layout_description_row_name {
  height: auto;
  width: 100%;
}
.layout_description_row_name h1 {
  position: relative;
  font-family: baliva;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.layout_description_row_name h1::before {
  position: absolute;
  content: "";
  bottom: -1.5rem;
  left: 0;
  width: 112px;
  height: 3px;
  background: #000;
  z-index: 10;
}
.layout_description_row_name h1.white_line::before {
  background-color: #fff;
}
.layout_description_row_name h1.lemongreen_line::before {
  background-color: #B8DC40;
}
.layout_description_row_name h1.bodymist_line::before {
  background-color: #2E2B27;
}
.layout_description_row_name h1.cachemere_line::before {
  background-color: #5DA245;
}
.layout_description_row_name h1.rainbow_line::before {
  background-color: #EA597B;
}
.layout_description_row_name h1.sandalwood_line::before {
  background-color: #D4142C;
}
.layout_description_row_name h1.blackrose_line::before {
  background-color: #EFA2AC;
}
.layout_description_row_name h1.mango_line::before {
  background-color: #F8C23A;
}
.layout_description_row_name h1.cranberry_line::before {
  background-color: #E91D2D;
}
.layout_description_row_name h1.plum_line::before {
  background-color: #BD4B93;
}
.layout_description_row_name h1.blueberry_line::before {
  background-color: #54C6E1;
}
.layout_description_row_name h1.oudmystic_line::before {
  background-color: #7F5027;
}
.layout_description_row_name h1.greentea_line::before {
  background-color: #C7D881;
}
.layout_description_row_name h1.wildlavender_line::before {
  background-color: #734F99;
}
.layout_description_row_name h1.whiterose_line::before {
  background-color: #F7CDE1;
}
.layout_description_row_name h1.glamourfruits_line::before {
  background-color: #EB7223;
}
.layout_description_row_name h1.ocean_line::before {
  background-color: #008BD0;
}
.layout_description_row_name h1.antitobacco_line::before {
  background-color: #9DC3DD;
}
.layout_description_row_name h1.flowergarden_line::before {
  background-color: #74B643;
}
.layout_description_row_name h1.redbeans_line::before {
  background-color: #BD4336;
}
.layout_description_row_name h1.whitebeans_line::before {
  background-color: #EABA8C;
}
.layout_description_row_name h1.pickles_line::before {
  background-color: #A0CB79;
}
.layout_description_row_name h1.strawberryjam_line::before {
  background-color: #CF2120;
}
.layout_description_row_name h1.apricotjam_line::before {
  background-color: #DC891A;
}
.layout_description_row_name h1.loyal_line::before {
  background-color: #2B617F;
}
.layout_description_row_name h1.brave_line::before {
  background-color: #B24528;
}
.layout_description_row_name h1.dynamic_line::before {
  background-color: #993E85;
}
.layout_description_row_name h1.creative_line::before {
  background-color: #C0D03B;
}
.layout_description_row_name div {
  height: auto;
  width: 100%;
}
.layout_description_row_name div.div_center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}
.layout_description_row_name div span {
  font-family: muli_bold;
  font-size: max(1.5rem, 9px);
  padding-right: 5rem;
}
.layout_description_row_name.name_center h1::before {
  left: 50%;
  transform: translate(-50%, 0);
}

.layout_description_row_details {
  height: auto;
  width: 100%;
  padding-top: 2rem;
}
.layout_description_row_details p {
  font-family: muli_reg;
  font-size: max(1.5rem, 8px);
  line-height: 2rem;
  max-width: 400px;
}
.layout_description_row_details.details_center {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout_description_row_details.details_center p {
  text-align: center;
  max-width: 500px;
}